*
{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar
{
    height: 70px;
    background-color: rgba(245, 245, 245, 0.721);
    color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.navbar-logo
{
    height: 40px;
    width: 160px;

    background-image: url(logo.jpg.png);
    background-size: cover;
}

.border:hover{
    border: 2px solid black;
}

.navbar-search
{
    width: 500px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    border: 1px solid white;
}

.search{
    width: 460px;
    height: 40px;
    font-size: 1.2rem;
    font-weight: 500;
    border: 1px solid transparent;
}
.magni
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    color: black;
    font-size: 14px;
}
.class
{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


.Login
{
    height: 44px;
    width: 540px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.add-icon
{
    width: 112px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.add-icon p{
    margin-left: 5px;
}

.add-icon1
{
    width: 104px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.add-icon1 p{
    margin-left: 5px;
    font-weight: 300;
}

.add-icon2
{
    width: 140px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.add-icon2{
    margin-left: 5px;
}

.add-icon3
{
    width: 24px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.add-icon3
{
    margin-left: 5px;
}


/* NAV - PART*/

.img_set
{
    margin-top: 10px;
    height: 141px;
    border: 2px solid transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: black;
}

.img1
{
    height: auto;
    width: 130px;
    /* background-image: url(img1.webp); */
    background-size: cover;
}

.nav
{
    height: 410px;
    margin-top: 10px;
    background-image: url(img2.webp);
    background-size: cover;
    background-color: white;
}


/*Body*/
.panel
{
    height: 300px;
    margin-top: 10px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.panel_1
{
    width: 500px;
    height: 275px;
    border: 2px solid pink;
    background-image: url(img_12.webp);
    background-size: cover;
}
.panel_2
{
    width: 500px;
    height: 275px;
    border: 2px solid pink;
    background-image: url(img_13.webp);
    background-size: cover;
}
.panel_3
{
    width: 500px;
    height: 275px;
    border: 2px solid pink;
    background-image: url(img_14.webp);
    background-size: cover;
}

/* FOOTER*/
.foot-panel1
{
    height: 50px;
    display: flex;
    background-color:  #37475a;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: white;
}

.footer-panel2
{
    background-color: #222f3d;
    color: white;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


ul a{
    display: block;
    font-size: 12px;
    margin-top: 10px;
}

ul p{
    font-weight: 700;
    font-size: 14px;
    margin-top: 10px;
}

.end
{
    height: 68px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #37475a;
    color: white;
}